using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;


namespace #className#Api
{
    public class #mainClassName#EntityMethods
    {
#findFirstBy#
        public static #className#s findFirstBy#PropName#(#type# #propName#)
        {
            #className#s #valueName# = null;

            using (var ctx = new #classContextName#())
            {
                var query = ctx.#contextPropName#
                                .Where(ss => ss.#propName# == #propName#)
                                .FirstOrDefault<#className#s>();

                #valueName# = query;
            }
            return #valueName#;
        }

#findListBy#
        public static List<#className#s> findListBy#PropName#(#type# #propName#)
        {
            List<#className#s> #valueName# = new List<#className#s>();

            using (var ctx = new #classContextName#())
            {
                var query = ctx.#contextPropName#
                                .Where(ss => ss.#propName# == #propName#).ToList();

                #valueName# = query;
            }
            return #valueName#;
        }

#exists#
	public Boolean existsIn#className#sBy#PropName#(#type# #propName#)
	{
		#className#s #valueName# = null;

            using (var ctx = new #classContextName#())
            {
                var query = ctx.#contextPropName#
                                .Where(ss => ss.#propName# == #propName#)
                                .FirstOrDefault<#className#s>();

                #valueName# = query;
            }
                if(#valueName# != null)
		{
			return true;
		}
		else
		{
			return false;
		}
	}
	
#update#
		public void update#className#(#className#s updated#className#)
        {
            using(var ctx = new #classContextName#())
            {
                var _#className# = ctx.#contextPropName#
				.Where(ss => ss.id == updated#className#.id).FirstOrDefault();
									  
                _#className#.#prop# = updated#className#.#prop#;
                ctx.SaveChanges();
            }
        }

#deleteById#
        public static void deleteById(#type# #propName#)
        {
            using (var ctx = new #classContextName#())
            {
                var query = ctx.#contextPropName#
                                .Remove(ctx.#contextPropName#.Single(ss => ss.#propName# == #propName#));

                ctx.SaveChanges();
            }
        }

#adds#
	public static void addNew#className#(#className#s _#className#)
	{
		using (var ctx = new #classContextName#())
            {
                ctx.#contextPropName#.Add(_#className#);

                ctx.SaveChanges();
            }
	}
    }
}