using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;

namespace #namespaceName#
{
    class SaveTest
    {
        static void Main(string[] args)
        {
            using (var ctx = new #classContextName#())
            {
#values#
                var #valueName# = new #className#();

#adds#
                ctx.#className#s.Add(#valueName#);
                ctx.SaveChanges();
            }
        }
    }
}
